.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 100vh;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
